<div>
    <div>
        
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="category-form">
            <span>Add a new category:</span>
            <label for="category-name">Name: </label>
            <input id="category-name" type="text" formControlName="name" required maxlength="128">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">

                <div *ngIf="name?.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="name?.errors?.maxlength">
                    Name can be up t0 128 characters long.
                </div>
                
            </div>
            <p>Complete the form to enable button.</p>
            <button type="submit" [disabled]="!categoryForm.valid">Submit</button>
        </form>
    </div>
    <div class="category-list">
        <div class="category-list-item">
            <h2>ID</h2>
            <h2>Name</h2>
            <h2>Delete?</h2>
        </div>
        <div *ngFor="let category of categories" class="category-list-item">
            <span>{{category.ID_Category}}</span>
            <span>{{category.name}}</span>
            <button (click)="delete(category)">Delete me</button>
        </div>
    </div>

    
</div>