/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

html{
    font-size: 16px;
}

@media (max-width: 858px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 780px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 702px) {
    html {
        font-size: 13px;
    }
}



@media (max-width: 623px) {
    html {
        font-size: 12px;
    }
}

